
.cover{
  background-color: black;
  float: right;
  width:95%;
  height:639px;
}
.sidebar{
  background-color: #1f1f1f;
  float: left;
  width:5%;
  height:639px;

}
.a,.b,.c{
  width: 100%;
  height:60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top:7px;

}
.a{
  margin-top: 221.5px;

}