
.cover{
  background-color: black;
  float: right;
  width:95%;
  height:620px;
}
.sidebar{
  background-color: #1f1f1f;
  float: left;
  width:5%;
  height:639px;

}
.a,.b,.c,.d,.e{
  width: 100%;
  height:60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top:7px;

}
.a{
  margin-top: 101.5px;

}
.cover h1{
  color:white;
  text-align:center;
  font-size: 80px;
  padding-top: 200px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.cover h3{
  color:white;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  
}
.info{
  display: none;
}
@media (max-width:1000px){
  .cover h1{
    font-size: 50px;
  }
  .cover h3{
    font-size: 20px;
  }
}
@media (max-height:740px){
  .cover{
    height: 740px;
  }
  .sidebar{
    height: 740px;
  }
  
}
@media (max-width:850px){
  .cover{
    width: 92%;

  }
  .sidebar{
    width: 8%;
  }
}
@media (max-width:600px){
  .cover{
    width: 90%;

  }
  .sidebar{
    width: 10%;
  }
  .info1{
    display: none;
  }
  .info{
    display: block;
  }
  .cover h1{
    font-size: 40px;
  }
}
@media (max-width:500px){
  .cover{
    width: 88%;

  }
  .sidebar{
    width: 12%;
  }
}